html, body {
  margin: 0;
}
* {
  font-family: monospace;
}
nav.top{
  position: fixed;
  width: 100%;
  top: 0;
  height: 17px;
  padding: 20px;
  background-color: #4e4e4e;
  /*text-align: right;*/
}
.title {
  /*float: left;*/
  color: #fff;
  font-size: 16px;
  width: 49%;
  display: inline-block;
}
.total{
  text-align: right;
  width: 49%;
  display: inline-block;
}
.totali-parti {
  display: inline-block;
}
.totali-parti:last-of-type{
  margin-right: 50px;
}
.totali-parti .emri-partise {
  margin-left: 0px;
  color: white;
}
.totali-parti .mandate-total {
  margin-right: 30px;
  color: white;
}

.content {
  margin-top: 50px;
  padding: 20px;
  background: lightgray;
}
.partia {
  width: 50px;
  display: inline-block;
}

.diferenca {
  margin-right: 20px;
  display: inline-block;
}
.diferenca.red span{
  color: red
}
.diferenca.green span{
  color: green
}
.add-party{
  margin-top: 10px;
  border-radius: 0px;
}
.ng-pristine {
  box-shadow: none;
}
input{
  border-radius: 0;
}
@media ( max-width: 770px ){
  .content {
    margin-top: 90px;
  }
  nav.top{
    height: 50px;
  }
  .title{
    width: 100%;
    display: block;
  }
  .total{
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 15px;
  }
  .total-parti .emri-partise:first-of-type{
    padding-left: 0;
  }
}
